/* Global starts */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #95c9c1;
}

section {
  width: 100%;
  height: 100vh;
  position: relative;
}

img {
  border-radius: 20px;
}
a {
  text-decoration: none;
  color: #fff;
}
/* Global Ends */

/* Header Starts */
#header {
  width: 100%;
  height: 20vh;
  background-color: #fff;
  position: relative;
}

h1 {
  text-align: center;
  line-height: 20vh;

  font-size: 6vw;
  color: #000;
  letter-spacing: 3px;
  text-transform: uppercase;
}

/* Header Ends */

.mt-4 {
  font-family: cursive;

  font-size: large;
}
