/* Header Starts */
#header {
  width: 100%;
  height: 20vh;
  background-color: #fff;
  position: relative;
}

h1 {
  text-align: center;
  line-height: 20vh;

  font-size: 6vw;
  color: #000;
  letter-spacing: 3px;
  text-transform: uppercase;
}

/* Header Ends */

body {
  background-color: #95c9c1;
}

tr {
  background-color: white;
}
table {
  border: 5px solid black;
}
th {
  font-weight: 700;
  font-family: cursive;
}
th.px-4.py-3.title-font.tracking-wider.font-medium.text-gray-900.text-sm.bg-gray-200 {
  font-size: 25px;
}
td.px-4.py-3 {
  text-align: center;
}
th.px-4.py-3.title-font.tracking-wider.font-medium.text-gray-900.text-sm.bg-gray-200 {
  text-align: center;
}
#pricing-header {
  font-size: 80px;
}
