
{% extends 'layout.html' %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='css/mandi.css')}}" />
<link
href="https://cdn.jsdelivr.net/npm/tailwindcss@0.7.4/dist/tailwind.min.css"
rel="stylesheet"
/>
<link
rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
/>
{% endblock %}

{% block body %}
  <h1>Dashboard <small> Welcome {{session.username}}</small></h1>
  <a class="btn btn-success" href="/add_article"> Add Product</a>
  <hr>
  <table class="table table-striped">
    <tr>
     
      <th>Name</th>
      <th>Product</th>
      <th>Variety</th>
      <th>packaging_type</th>
      <th>packaging_size</th>
      <th>quantity_expected</th>
      <th>quality_expected</th>
      <th>price</th>
      <th>state</th>
      
      

      <th></th>
      <th></th>
      <th></th>
    </tr>
    {% for article in articles %}
      <tr>
        <td>{{article.name}}</td>
        <td>{{article.product}}</td>
        <td>{{article.variety}}</td>
        <td>{{article.packaging_type}}</td>
        <td>{{article.packaging_size}}</td>
        <td>{{article.quantity_expected}}</td>
        <td>{{article.quality_expected}}</td>
        <td>{{article.price}}</td>
        <td>{{article.state}}</td>
        
        <td><a href="edit_article/{{article.id}}" class="btn btn-default pull-right">Edit</a></td>
        <td>
          <form action="{{url_for('delete_article', id=article.id)}}" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form>
        </td>
        <td></td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}

