  
{% extends 'layout.html' %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='css/mandi.css')}}" />
<link
href="https://cdn.jsdelivr.net/npm/tailwindcss@0.7.4/dist/tailwind.min.css"
rel="stylesheet"
/>
<link
rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
/>
{% endblock %}

{% block body %}
<style>
  .form-group{
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;

  }
  
</style>
  <h1 style="text-align: center;">Login</h1>
  <form action="" method="POST">
    <div class="form-group">
      <label>Username</label>
      <input type="text" name="username" class="form-control" value={{request.form.username}}>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" name="password" class="form-control" value={{request.form.password}}>
    </div>
    <button style="margin-left: 47%;" type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}