<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/purchase.css">
    <script src="https://kit.fontawesome.com/b069fdbc0a.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form action="" class="sign-in-form">
            <div class="form-control">
                <i class="fas fa-user"></i>
                <input type="name" name="" id="name" placeholder="Name">
            </div>
            <div class="form-control">
                <i class="fas fa-at fa-sm"></i>
                <input type="email" name="" id="email" placeholder="Email">
            </div>
            <div class="form-control">
                <i class="fas fa-phone"></i>
                <input type="number" name="" id="phone_number" placeholder="Phone number">
            </div>
            <div class="form-control">
                <i class="fas fa-user-friends"></i>
                <input type="text" name="" id="farmer" placeholder="Farmer Name">
            </div>
            <div class="form-control">
                <i class="fab fa-product-hunt"></i>
                <input type="text" name="" id="product" placeholder="Product">
            </div>
            <div class="form-control">
                <i class="fas fa-weight-hanging"></i>
                <input type="text" name="" id="quantity" placeholder="Quantity">
            </div>
            <div class="form-control">
                <i class="fas fa-info"></i>
                <input type="text" name="" id="message" placeholder="Info (Optional)">
            </div>

            <button class="btn">Submit</button>
        </form>
        
        <div class="features">
            <div class="feature">
                <i class="fas fa-hands-helping"></i>
                <h3>You're making a big difference!</h3>
                <p>Farmers from all over the country work hard through uncertain weather conditions and sheer luck to provide the rest of the country food. Purchasing their products through our website helps us to get rid pf the middle man sending their goods to you who take advantage of the uneducated farmer. Give yourself a pat on the back!</p>
        </div>
    </div>
</body>
</html>