{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='css/mandi.css')}}" />
<link
href="https://cdn.jsdelivr.net/npm/tailwindcss@0.7.4/dist/tailwind.min.css"
rel="stylesheet"
/>
<link
rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
/>
{% endblock %}

{% block body %}

  <h1 style="text-align: center;">Register</h1>
  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <style>
      .form-wrapper{
        margin-left: 25%;
        margin-right: 25%;
        width: 50%;

      }
      body{
        background-color: rgba(59, 238, 104, 0.623);
      }
    </style>
    
    <div class="form-wrapper">
      {{render_field(form.name, class_="form-control")}}
    </div>
    <div class="form-wrapper">
      {{render_field(form.mobile_no, class_="form-control")}}
    </div>
    <div class="form-wrapper">
      {{render_field(form.address, class_="form-control")}}
    </div>
    <div class="form-wrapper">
      {{render_field(form.email, class_="form-control")}}
    </div>
    <div class="form-wrapper">
      {{render_field(form.username, class_="form-control")}}
    </div>
    <div class="form-wrapper">
      {{render_field(form.password, class_="form-control")}}
    </div>
    <div class="form-wrapper">
      {{render_field(form.confirm, class_="form-control")}}
    </div>
    <p style="margin-left: 47%;"><input type="submit" class="btn btn-primary" value="Submit"></p>
  </form>

{% endblock %}

