/* Header Starts */
#header {
  width: 100%;
  height: 20vh;
  background-color: #fff;
  position: relative;
}

#mandi-header {
  text-align: center;
  line-height: 20vh;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 5vw;
  color: #000;
  letter-spacing: 3px;
  text-transform: uppercase;
}
h2 {
  font-size: 25px;
  font-weight: 700;
}

/* Header Ends */

body {
  background-color: #95c9c1;
}

tr {
  background-color: white;
}
table {
  border: 5px solid black;
}
th {
  font-weight: 700;
  font-family: cursive;
}
th.px-4.py-3.title-font.tracking-wider.font-medium.text-gray-900.text-sm.bg-gray-200 {
  font-size: 25px;
}
td.px-4.py-3 {
  text-align: center;
}
th.px-4.py-3.title-font.tracking-wider.font-medium.text-gray-900.text-sm.bg-gray-200 {
  text-align: center;
}
#pricing-header {
  font-size: 80px;
}
h2.text-gray-900.text-lg.title-font.font-medium.mb-3 {
  font-size: 20px;
  font-weight: 600;
}
h1#pricing-headers {
  text-transform: uppercase;
}

.wrapper {
  transform: (-50%, -50%);
}
.wrapper h1 {
  border-radius: 50px;
  align-items: center;
  font-family: poppins;
  text-transform: uppercase;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7),
    -4px -4px 8px rgba(255, 255, 255, 1);
  color: #000;
  font-size: 70px;
  font-weight: bold;
  letter-spacing: 10px;
  text-align: center;
}
